:root {
  --accentGreen: #132E32;
  --accentBlue: #176087;
}

/*https://coolors.co/0a2239-53a2be-1d84b5-132e32-176087*/
/*#0A2239;*/
/*#53A2BE;*/
/*#1D84B5*/

body{
  background-color: #e9f5f9;
}


h1 {
  font-family: CustomProzaLibreBold;
  font-size: 32px;
}

h2 {
  font-family: CustomProzaLibreBold;
  font-size: x-large;
}

h3 {
  font-family: CustomProzaLibreRegular;
  font-size: 18px;
  color: var(--accentBlue);
}

#informacionppal h3 {
  color: white !important;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

p, dd {
  font-size: 17px;
}

/*.sangria40 h3 {*/
/*  color: #176087;*/
/*  font-weight: bold;*/
/*  font-size: xxx-large;*/

/*}*/

dt {
  margin-top: 10px;
  font-weight: bold;
}

/*https://es.stackoverflow.com/questions/174400/cómo-superponer-dos-imágenes*/
img.icon {
  width: 20px;
  height: 20px;
  margin: 10px;
}

img.profile {
  border-radius: 30px;
  width: 200px;
  height: 200px;
  margin-right: 15px;
  border-style: groove;
}

img.main-background {
  /*border-radius: 0px 0px 20px 20px;*/
  position: relative;
  width: 100%;
}

div.tech-logo img {
  height: auto;
  width: 100px;
}

div.tech-logo {
  margin: 5px;
  height: 140px;
  width: 140px;
  display: grid;
  border-width: 1px;
  border-radius: 70px;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 221, 226);
  box-shadow: 2px 2px 3px #999;
  border-color: #ffffff;
  border-style: solid;
  transition: all 600ms;
}

div.tech-logo:hover {
  background-color: rgba(19, 46, 50, 0.18);
  border-color: #132E32;
  transform: scale(1.04);
}

.in-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
}

.centerVertically {
  align-items: center;
}

.sangria40 {
  margin-left: 40px;
}

#informacionppal {
  top: 10px;
  left: 10px;
  color: white;
  position: absolute;
}

footer {
  width: 100%;
  background-color: #132E32;
  position: absolute;
  margin-top: 40px;
}

.footer-section-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  margin: 20px 0px 30px 0px;
}

footer a {
  color: #bee0ec;
  text-decoration: none;
}

footer label {
  color: rgb(218, 221, 226);;
}

