h1 {
  font-family: CustomProzaLibreBold;
  font-size: 30px;
}

h2 {
  font-family: CustomProzaLibreBold;
  font-size: 20px;
}

h3 {
  font-family: CustomProzaLibreRegular;
  font-size: 18px;
}

body {
  padding: 5px;
}

img {
  margin: 10px;
}

img.icon {
  width: 20px;
  height: 20px;
}

div.tech-logo img {
  height: auto;
  width: 100px;
}

div.tech-logo {
  margin: 5px;
  height: 140px;
  width: 140px;
  display: grid;
  border-radius: 70px;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 221, 226);
  box-shadow: 2px 2px 3px #999;
}

.in-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
}

.centerVertically {
  align-items: center;
}

.list-info {
  margin-left: 40px;
}